# --- Rust 相关 ---
/target/
**/*.rs.bk
Cargo.lock
# 如果你希望锁定依赖版本，可以不忽略 Cargo.lock，但库项目通常忽略

# --- 项目业务缓存 (重点) ---
# 忽略存放 HLS 切片 (.ts) 和 索引文件 (.m3u8) 的临时目录
/temp_streams/
/dev/shm/stream_hub/
**/stream_hub/
REMARK.md

# --- 数据库与日志 ---
*.redb
*.log
*.tmp

# --- 操作系统相关 ---
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- IDE / 编辑器 ---
.vscode/
.idea/
*.swp
*.swo
.vscdb

# --- 环境变量与私密信息 ---
.env
auth_config.json